<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My First Blog</title>
</head>
<body>
    <h1>DjangoGirls Blog</h1>

        {% for post in posts %}
        <div>
            <p>{{post.publish}}</p>
            <h2>{{post.title}}</h2>
            <p>
                {{post.text}}
            </p>
        </div>

        {% endfor %}
        <img src="http://menu.mt.co.kr/ize/thumb/2018/01/06/2018012200437259138_1.jpg?rnd=9636">
    <p> 전체 포스트 목록입니다.</p>
</body>
</html>