{% extends 'blog/base.html' %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="post-title">글 제목</label>
        <input name="title" type="text" class="form-control" id="post-title">
    </div>
    <div class="form-group">
        <label for="post-textarea">글 제목</label>
         <textarea name="text" class="form-control" id="post-textarea" rows="5"></textarea>
    </div>

    <div class="text-right mb-2">
        <button type="submit" class="btn btn-primary">작성</button>
    </div>
</form>
{% endblock %}