<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My First Blog</title>
</head>
<body>
    <h1>DjangoGirls Blog</h1>

        <div>
            <p>published: 04.06.2018, 12:14</p>
            <h2>My First post</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet aperiam
                asperiores corporis delectus dignissimos distinctio dolores eos explicabo illo i
                nventore libero molestias natus nisi, odit placeat possimus quaerat quo ra
                tione reiciendis
                rem repellat sequi sit temporibus ut veniam voluptatum!</p>
        </div>

        <div>
            <p>published: 04.06.2018, 12:15</p>
            <h2>My Second post</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet aperiam
                asperiores corporis delectus dignissimos distinctio dolores eos explicabo illo i
                nventore libero molestias natus nisi, odit placeat possimus quaerat quo ra
                tione reiciendis
                rem repellat sequi sit temporibus ut veniam voluptatum!</p>
        </div>



        <img src="http://menu.mt.co.kr/ize/thumb/2018/01/06/2018012200437259138_1.jpg?rnd=9636">
    <p> 전체 포스트 목록입니다.</p>
</body>
</html>